<title>Colonoscopy Questions</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<!--<link rel="stylesheet" href="static/bootstrap-theme.min.css">-->
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
<h2>Colonoscopy Questions</h2>
<form action="" method="post" role="form">
	<!-- &#123; &#123; form.csrf &#125;&#125;-->
	<!-- { { form.csrf }} -->

   

<p>
Thank you very much for taking the time to speak with us today.
<p>
We are building a system than can answer basic questions people have before a Colonoscopy. Due to delays caused by Covid-19 anything we can do to reduce waits for hospital procedures and reduce the time people spend in hospitals could be really useful
<p>
   
<div class="form-group">
      <label for="name">Do you have any questions about what to do before the colonoscopy?</label>
<!-- <input type="textarea" class="form-control" id="name" name="name" placeholder="What questions would you have about going for a Colonoscopy?" rows="3"></div>-->
<textarea class="form-control" id="name" name="name" rows="3"></textarea>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Is there anything you currently do/take that you would ask about?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea2">Would you have any questions about the practicalities of getting to the hospital and the right place in there?</label>
    <textarea class="form-control" id="exampleFormControlTextarea2" name="exampleFormControlTextarea2" rows="3"></textarea>
  </div>

    <div class="form-group">
    <label for="exampleFormControlTextarea3">Do you have any questions about medication given to you before or during the procedure?</label>
    <textarea class="form-control" id="exampleFormControlTextarea3" name="exampleFormControlTextarea3" rows="3"></textarea>
  </div>

    <div class="form-group">
    <label for="exampleFormControlTextarea4">What would worry you about the actual colonoscopy procedure?</label>
    <textarea class="form-control" id="exampleFormControlTextarea4" name="exampleFormControlTextarea4" rows="3"></textarea>
  </div>

    <div class="form-group">
    <label for="exampleFormControlTextarea5">What questions might you have about after the procedure?</label>
    <textarea class="form-control" id="exampleFormControlTextarea5" name="exampleFormControlTextarea5" rows="3"></textarea>
  </div>

<button type="submit" class="btn btn-success">Submit</button>
</form>
<div class="alert alert-info">
                <strong>Success! </strong> { { message[1] }}</div>

<!--    


<div class="alert alert-warning">
                { { message[1] }}</div>-->


</div>