<title>Colonoscopy Questions</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<!--<link rel="stylesheet" href="static/bootstrap-theme.min.css">-->
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
<h2>Colonoscopy Questions</h2>
	<!-- &#123; &#123; form.csrf &#125;&#125;-->
	<!-- { { form.csrf }} -->


<p>
Thank you very much for taking the time to speak with us today.
<p>
If you have any further questions you think of later please return to here to ask them.
<p>
   


<!--    


<div class="alert alert-warning">


</div>